<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer proyecto HTML | Hamilton</title>
</head>
<body>
    <h1>Margaret Hamilton</h1>
    <img src="/img/hamilton.jpg" alt="hamilton">
    
    <p>
        Margaret Hamilton (Paoli, Indiana, 17 de agosto de 1936) es una científica computacional, matemática e ingeniera de Software estadounidense.
    </p>
    <p>
    Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT, donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo.Fue fundadora, en 1976, de la empresa Higher Order Software. En 1986, se convirtió en la fundadora y CEO de Hamilton Technologies, Inc. en Cambridge, Massachusetts. La compañía se desarrolló alrededor del lenguaje universal de sistemas basada en su paradigma de "desarrollo antes del hecho" (DBTF, del inglés Development Before the Fact) para sistemas de diseño de software.Acuñó el término «ingeniería de software» para distinguir entre el trabajo de hardware y otras ingenierías. A pesar de que su idea no fue bien recibida al inicio, eventualmente el software generó el mismo respeto que otras disciplinas.
    </p>

    <h2>Índice</h2>
    <ol type="1">
       <li><a href="#biografía">Biografía</a></li>
       <li><a href="#vida">Vida personal y educación</a></li>
       <li><a href="#trayectoria">Trayectoria profesional</a></li>
       <li><a href="#legado">Legado</a></li>
   </ol>
   <h2 id="biografía">
       Biografía
   </h2>
   
   <p>
    Hija de Ruth Esther Partington y Kenneth Heafield, fue educada en un ambiente familiar con un padre filósofo-poeta y abuelo pastor cuáquero que la alentó a estudiar y a ser lo que ella quería ser.
   </p>
   <p>
    Conoció a su marido (del cual se divorció más tarde) James Cox Hamilton mientras estudiaba en Earlham College y se casaron a finales de los años 1950 después de obtener su licenciatura. Tienen una hija llamada Lauren.
   </p>
   <p>
    Tras licenciarse en Matemáticas, quiso seguir estudiando, pero tuvo que dejar sus estudios durante un periodo de tiempo para que su marido terminara su carrera en Harvard, y trabajar de profesora de matemáticas y francés en un instituto.14
   </p>

   <h2 id="vida">
    Vida personal y educación
   </h2>

   <p>
    Margaret Elaine Heafield nació en Paoli, Indiana el día 17 de agosto de 1936. Hija de Kenneth Heafield y Ruth Esther Heafield, que tuvieron otros dos hijos posteriormente: David1 y Kathryn.
   </p>
   <p>
    Tras mudarse con su familia a Míchigan, Margaret finalizó los estudios en el instituto Hancock High School en el año 1954. Estudió matemáticas en la Universidad de Míchigan en el año 1955, antes de cambiarse a Earlham College, donde su madre estudiaba. Allí obtuvo el grado en matemáticas con filosofía en el año 1958. Citó a Florence Long, el director del departamento de matemáticas en Earlham como ayuda en su deseo de investigar en las matemáticas abstractas y convertirse en profesora de matemáticas. Otras de sus inspiraciones fueron su padre (filósofo y poeta) y su abuelo (director de instituto y ministro de Sociedad Religiosa de los Amigos), por incluir aspectos e intereses filosóficos en sus estudios.
   </p>
   <p>
    En Earlham, Margaret conoció a su primer marido, James Cox Hamilton, que terminaba sus estudios de química. Se casaron el 15 de junio de 1958, una vez Margaret se había graduado en Earlham. Trabajó una temporada como profesora de matemáticas y francés en un colegio público en Boston, Indiana, hasta que su marido se graduó. Se mudaron a Boston, Massachusetts.
   </p>

   <h2 id="trayectoria">
    Trayectoria profesional
   </h2>

   <p>
    Se mudó a Massachusetts con la intención de hacer estudios de postgrado en Brandeis, pero en lugar de ello tomó un puesto en el MIT como desarrolladora de software. De 1961 a 1963, trabajó para el Proyecto Sage Philco-Ford, donde usó radares para seguir trayectorias de aeronaves desconocidas. También escribió código para el Laboratorio de Investigación Cambridge de la Fuerza Aérea. Trabajó para ganar experiencia de primera mano en una época donde las ciencias computacionales y la ingeniería de software no existían ni como disciplinas, ni como cursos universitarios.
   </p>
   <p>
    Margaret Hamilton era parte del Charles Stark Draper Laboratory en el MIT, donde en 1965 se convirtió en la responsable del desarrollo del software de vuelo a bordo de las computadoras de la misión Apolo en el que trabajaba el equipo del laboratorio, y posteriormente dirigió y supervisó los desarrollos de la misión de la estación espacial Skylab.
   </p>

   <h2 id="legado">
    Legado
   </h2>

   <p>
    A Anthony Oettinger, Barry Boehm, y Margaret Hamilton se les ha atribuido el origen del nombre de la disciplina de "ingeniería del software". Hamilton detalla cómo llegó a inventar el término "ingeniería del software":
   </p>
   <p>
    "Cuando se me ocurrió el término de ingeniería de software, nadie había oído hablar de él, al menos en nuestro mundo. Fue una broma constante durante mucho tiempo. Les gustaba bromear con mis ideas radicales. Fue un día memorable cuando uno de los gurús más resepetados del hardware explicó a todos en una reunión que estaba de acuerdo conmigo en que el proceso de construcción de software debería considerarse también una disciplina de ingeniería, al igual que el hardware. No porque aceptara el nuevo 'término' en sí, sino porque nos habíamos ganado su aceptación y la de los demás en la sala como un campo de ingeniería por derecho propio."
   </p>
   <p>
    Cuando Hamilton comenzó a utilizar el término "ingeniería de software" durante las primeras misiones Apolo, el desarrollo de software no se tomaba en serio en comparación con otras ingenierías, ni se consideraba una ciencia. Hamilton consiguió legitimar el desarrollo de software como una disciplina de ingeniería, que con el tiempo, obtuvo el respeto que merecía.
   </p>

   <a href="https://es.wikipedia.org/wiki/Margaret_Hamilton_(cient%C3%ADfica)" target="_blank" >Fuente: wikipedia</a>

    <ul type="none">
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-Lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
    </ul>
</body>
</html>